body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal.active {
    display: block;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.header {
    background-color: #adcbe3;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    max-width: 1200px;
}

.header-logo-link {
    display: flex;
    align-items: center;
}

.header-logo .red {
    color: #EE4D2E;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: .5em;
}


/* .header-logo .red::before {
    content: " ";
} */

.header-logo-link {
    color: #ffffff;
    text-decoration: none;
}

.header-logo-link__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.header-logo-link:hover {
    text-decoration: none;
}

.header-logo-link:hover span {
    color: #2a4d69;
    transition: .5s;
}

.header-logo-link:hover .header-logo-link__img {
    animation: heart-beating .7s linear;
}

.sign-btn,
.create-btn {
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e7eff6;
}

.sign-btn:hover {
    background-color: #fefefe;
}

.sign-btn:active {
    background-color: #63ace5;
}

.sign-btn i {
    margin-right: 10px;
}

.footer {
    height: 80px;
    background-color: #2a4d69;
    color: #e7eff6;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes heart-beating {
    0% {
        transform: scale(.9);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1.05);
    }
}